<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="dataFolderPath" value="Data" />
		<add key="LoadFactorMin" value="0.7" />
		<add key="FlatlineEpsilon" value="5.0" />
		<add key="FlatlineWindowSamples" value="4" />
		<add key="SpikeDeltaMW" value="2000.0" />
	</appSettings>
	<system.serviceModel>

		<services>
			<service name="Server.LoadService">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:9000/LoadService" />
					</baseAddresses>
				</host>

				<endpoint address=""
                          binding="netTcpBinding"
                          bindingConfiguration="bigBinding"
                          contract="Common.ILoadService" />

				<endpoint address="mex"
                          binding="mexTcpBinding"
                          contract="IMetadataExchange" />
			</service>
		</services>

		<bindings>
			<netTcpBinding>
				
				<binding name="bigBinding"
                         maxReceivedMessageSize="2147483647"
                         maxBufferPoolSize="2147483647"
                         openTimeout="00:01:00"
                         closeTimeout="00:01:00"
                         sendTimeout="00:10:00"
                         receiveTimeout="00:10:00">
					<readerQuotas maxArrayLength="2147483647"
                                  maxStringContentLength="2147483647"
                                  maxDepth="64" />
				</binding>
			</netTcpBinding>
		</bindings>

		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="false" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

	</system.serviceModel>
</configuration>